html {
  font-weight: lighter;
}
h1 {
  font-family: sans-serif;
  font-weight: lighter;
}
input {
    width: 300px;
    height: 40px;
    padding: 0px 10px 0px 10px;
    margin: 25px;
    font-size: 18px;
    font-weight: lighter;
}
.container {
    padding: 40px;
}
